@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #212121;
  letter-spacing: .2px;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  letter-spacing: .5px;
  color: #FF4081; }

.btn {
  background-color: #FFFFFF;
  color: #727272;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  padding: 8px 15px;
  cursor: pointer;
  transform: scale(1);
  transition: all .1s;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }
  .btn:hover, .btn:focus {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
    outline: none;
    transform: scale(1.02);
    transition: all .1s; }
  .btn:active {
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    outline: none;
    transform: scale(1);
    transition: all .1s; }
  .btn + .btn {
    margin-left: 15px; }

.btn-primary {
  background-color: #FF4081;
  color: #FFFFFF; }

.btn-footer {
  text-align: center;
  border-top: 1px solid #B6B6B6;
  background-color: #CFD8DC;
  margin: 40px -40px -40px;
  padding: 20px 40px; }

.card, .jcf-form-wrap {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }
  .card hr, .jcf-form-wrap hr {
    border: none;
    border-bottom: 1px solid #B6B6B6;
    margin: 40px -40px; }
  .card .heading, .jcf-form-wrap .heading {
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    background-color: #607D8B;
    color: rgba(255, 255, 255, 0.5);
    border-top: 10px solid #455A64;
    padding: 20px 40px;
    margin: -40px -40px 40px; }
    .card .heading h1, .jcf-form-wrap .heading h1, .card .heading h2, .jcf-form-wrap .heading h2, .card .heading h3, .jcf-form-wrap .heading h3, .card .heading h4, .jcf-form-wrap .heading h4, .card .heading h5, .jcf-form-wrap .heading h5, .card .heading h6, .jcf-form-wrap .heading h6 {
      color: #FFFFFF;
      margin: 0px;
      padding: 0px; }
    .card .heading p, .jcf-form-wrap .heading p {
      font-size: .8em;
      margin: 10px 0px 0px;
      padding: 0px; }

.float-label-active, .jcf-form-wrap input:focus + label .float-label, .jcf-form-wrap input.active + label .float-label {
  position: relative;
  top: -24px;
  font-size: .7em;
  color: #727272; }

.jcf-form-wrap {
  box-sizing: border-box;
  width: 400px;
  max-width: 400px;
  background-color: #FFFFFF;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px; }
  .jcf-form-wrap * {
    box-sizing: border-box; }
  .jcf-form-wrap .jcf-input-group {
    position: relative;
    margin-bottom: 30px; }
  .jcf-form-wrap input {
    width: 100%;
    background-color: #FFFFFF;
    color: #212121;
    font-size: 24px;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid #B6B6B6;
    margin: 0px;
    padding: 0px 10px 10px; }
    .jcf-form-wrap input:focus {
      box-shadow: none;
      outline: none; }
      .jcf-form-wrap input:focus + label:after {
        width: 100%;
        transition: all 0.5s; }
      .jcf-form-wrap input:focus + label .float-label {
        color: #FF4081; }
  .jcf-form-wrap label {
    position: absolute;
    font-weight: normal;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px 10px; }
    .jcf-form-wrap label:after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0%;
      height: 3px;
      width: 0%;
      background-color: #FF4081;
      transition: all 0.2s; }
    .jcf-form-wrap label .float-label {
      position: relative;
      top: 0px;
      transition: all 0.2s; }
  .jcf-form-wrap .input-question {
    font-size: .9em;
    font-weight: 600;
    color: #727272;
    margin-bottom: 10px; }

@font-face {
  font-family: "icomoon";
  src: url(/fonts/jcf.eot?c1631dac3f8526997f13729c082aa541);
  src: url(/fonts/jcf.eot?c1631dac3f8526997f13729c082aa541#iefix) format("embedded-opentype"), url(/fonts/jcf.ttf?4f715e938ed9d8bd2a264a6710ec3b21) format("truetype"), url(/fonts/jcf.woff?30840be235de26521f635d2858200e78) format("woff"), url(/fonts/jcf.svg?ae7d11aab6f11a9b772243b0cfe420fe#jcf) format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-up:before {
  content: "\F106"; }

.icon-arrow-right:before {
  content: "\F105"; }

.icon-arrow-down:before {
  content: "\F107"; }

.icon-arrow-left:before {
  content: "\F104"; }

.icon-check_box:before {
  content: "\E834"; }

.icon-check_box_outline_blank:before {
  content: "\E835"; }

.icon-indeterminate_check_box:before {
  content: "\E909"; }

.icon-radio_button_unchecked:before {
  content: "\E836"; }

.icon-radio_button_checked:before {
  content: "\E837"; }

.icon-check_circle:before {
  content: "\E86C"; }

.icon-cancel:before {
  content: "\E5C9"; }

.jcf-form-wrap .input-checkbox label,
.jcf-form-wrap .input-radio label {
  position: relative;
  display: block;
  padding-left: 20px;
  cursor: pointer;
  margin-bottom: 3px; }

.jcf-form-wrap .input-checkbox input,
.jcf-form-wrap .input-radio input {
  width: auto;
  opacity: 0;
  margin-left: -20px;
  margin-right: 10px; }
  .jcf-form-wrap .input-checkbox input:checked + .icon:before,
  .jcf-form-wrap .input-radio input:checked + .icon:before {
    content: '';
    color: #FF4081; }

.jcf-form-wrap .input-checkbox .icon,
.jcf-form-wrap .input-radio .icon {
  display: inline; }
  .jcf-form-wrap .input-checkbox .icon:before,
  .jcf-form-wrap .input-radio .icon:before {
    content: '';
    font-family: "icomoon";
    position: absolute;
    left: 4px;
    top: 2px;
    font-size: 1.2em;
    color: #727272; }

.jcf-form-wrap .input-checkbox .icon:before {
  content: '\E835'; }

.jcf-form-wrap .input-checkbox input:checked + .icon:before {
  content: '\E834'; }

.jcf-form-wrap .input-radio .icon:before {
  content: '\E836'; }

.jcf-form-wrap .input-radio input:checked + .icon:before {
  content: '\E837'; }

.jcf-form-wrap select {
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  appearance: none;
  border: 1px solid #B6B6B6;
  border-radius: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 10px 50px 10px 10px;
  width: 100%;
  cursor: pointer; }
  .jcf-form-wrap select:focus {
    outline: none; }
  .jcf-form-wrap select:hover {
    background-color: rgba(114, 114, 114, 0.05); }

.jcf-form-wrap .select-wrap {
  position: relative; }
  .jcf-form-wrap .select-wrap:before {
    content: '\F107';
    font-family: "icomoon";
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-left: 1px solid #B6B6B6;
    color: #607D8B;
    display: flex;
    align-items: center;
    font-size: 2em;
    padding: 0px 10px;
    pointer-events: none; }

.jcf-form-wrap .validation-form input[type="text"] + label:before,
.jcf-form-wrap .validation-form input[type="email"] + label:before,
.jcf-form-wrap .validation-form input[type="password"] + label:before {
  content: "";
  font-family: "icomoon";
  font-size: 24px;
  position: absolute;
  top: 5px;
  right: 8px; }

.jcf-form-wrap .validation-form input[type="text"]:valid + label:before,
.jcf-form-wrap .validation-form input[type="email"]:valid + label:before,
.jcf-form-wrap .validation-form input[type="password"]:valid + label:before {
  content: "\E86C";
  color: #7BD581; }

.jcf-form-wrap .validation-form input[type="text"]:invalid:not(:focus).visited + label:before,
.jcf-form-wrap .validation-form input[type="email"]:invalid:not(:focus).visited + label:before,
.jcf-form-wrap .validation-form input[type="password"]:invalid:not(:focus).visited + label:before {
  content: "\E5C9";
  color: #C33C54; }
