// VARIABLES ===============================================
// =========================================================
$jcf-font-path:        "../fonts" !default;
$jcf-font-name:         "icomoon";

// COLOR VARIABLES -----------------------------------------
// ---------------------------------------------------------
$white:                         #FFFFFF                         !default;
$black:                         #212121                         !default;
$gray:                          #727272                         !default;
$grayLight:                     #B6B6B6                         !default;
$blueDark:                      #455A64                         !default;
$blue:                          #607D8B                         !default;
$blueLight:                     #CFD8DC                         !default;
$pink:                          #FF4081                         !default;
$green:                         #7BD581                         !default;
$red:                           #C33C54                         !default;


// COLOR DECLARATIONS 
$jcf-color-background:          $white                          !default;
$jcf-color-primary-dark:        $blueDark                       !default;
$jcf-color-primary:             $blue                           !default;
$jcf-color-primary-light:       $blueLight                      !default;
$jcf-color-accent:              $pink                           !default;
$jcf-color-text-primary:        $black                          !default;
$jcf-color-text-secondary:      $gray                           !default;
$jcf-color-text-inverse:        $white                          !default;
$jcf-color-divider:             $grayLight                      !default;



// FONT VARIABLES ------------------------------------------
// ---------------------------------------------------------

// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$jcf-bodyFont:                  'Open Sans', sans-serif         !default;
$jcf-headingFont:               'Merriweather', serif           !default; 


// FONT DECLARATIONS
$jcf-font:                      $jcf-bodyFont                   !default;
$jcf-font-size:                 16px                            !default;


// FORM VARIABLES ------------------------------------------
// ---------------------------------------------------------
$jcf-form-width:                400px                           !default;
$jcf-form-padding:              40px                            !default;

$jcf-transition-in:             all .5s                         !default;
$jcf-transition-out:            all .2s                         !default;
