// FOUNDATION STYLES =======================================
// =========================================================

* {
   box-sizing: border-box;
}

body {
   font-family: $jcf-bodyFont;
   font-weight: 400;
   color: $jcf-color-text-primary;
   letter-spacing: .2px;
   text-rendering: optimizeLegibility;
}

// HEADINGS 
h1, h2, h3, h4, h5, h6 {
   font-family: $jcf-headingFont;
   font-weight: 400;
   letter-spacing: .5px;
   color: $jcf-color-accent;
}