// ICON STYLES =============================================
// =========================================================
@font-face {
    font-family: $jcf-font-name;
    src:    url('#{$jcf-font-path}/jcf.eot?gx80it');
    src:    url('#{$jcf-font-path}/jcf.eot?gx80it#iefix') format('embedded-opentype'),
            url('#{$jcf-font-path}/jcf.ttf?gx80it') format('truetype'),
            url('#{$jcf-font-path}/jcf.woff?gx80it') format('woff'),
            url('#{$jcf-font-path}/jcf.svg?gx80it#jcf') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: $jcf-font-name !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
    content: "\f106";
}
.icon-arrow-right:before {
    content: "\f105";
}
.icon-arrow-down:before {
    content: "\f107";
}
.icon-arrow-left:before {
    content: "\f104";
}
.icon-check_box:before {
    content: "\e834";
}
.icon-check_box_outline_blank:before {
    content: "\e835";
}
.icon-indeterminate_check_box:before {
    content: "\e909";
}
.icon-radio_button_unchecked:before {
    content: "\e836";
}
.icon-radio_button_checked:before {
    content: "\e837";
}
.icon-check_circle:before {
    content: "\e86c";
}
.icon-cancel:before {
    content: "\e5c9";
}